public/workflows/inbox-backend.json
{
    "nodes": [
      {
        "parameters": {
          "fieldToSplitOut": "items",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -600,
          220
        ],
        "id": "5e3d6463-54bc-42b4-819f-57d2613113a2",
        "name": "Split Out"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "inbox",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -220,
          220
        ],
        "id": "46b193d1-1a27-4d22-8981-4a173e20da69",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "path": "linkout_messages",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1460,
          360
        ],
        "id": "5c4de3ad-1366-4bb3-81de-032ad03f768a",
        "name": "Webhook",
        "webhookId": "94415813-ffa3-4573-8a27-f9df36a75e12"
      },
      {
        "parameters": {
          "url": "=****POCKETBASE_BASE_URL****/api/collections/people/records?expand=messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $json.headers.authorization }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1160,
          360
        ],
        "id": "ec954af5-c85c-4720-8e2f-ea628de2e11b",
        "name": "get users",
        "onError": "continueErrorOutput",
        "notes": "## Fetch Users with Messages\nRetrieves all users and their associated messages from PocketBase.\n\n⚠️ Configuration Required:\n1. Set POCKET_BASE_URL in environment\n2. Ensure messages relation exists"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "Unauthorized access",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -240,
          680
        ],
        "id": "db3e6770-efc7-4340-8730-5e90d18b0f36",
        "name": "Respond with error"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $('Aggregate').item.json.inbox }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -40,
          220
        ],
        "id": "14c32f7e-3c37-4e8e-a8d4-94ced29770d8",
        "name": "Respond success"
      },
      {
        "parameters": {
          "content": "## 1. Frontend Request Handler\n[Learn more about Webhook nodes](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.webhook/)\n\nReceives requests from the frontend to fetch user messages:\n- Validates PocketBase authentication token\n- Handles error responses\n- Routes to data fetching",
          "height": 220,
          "width": 490,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1780,
          80
        ],
        "id": "3492d11d-66c4-4e66-9cb2-b18b7af7a988",
        "name": "Section 1 - Request Handler",
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## 2. Data Processing\n[Learn more about Data Transformation](https://docs.n8n.io/data/transforming-data/)\n\nTransforms raw PocketBase data into frontend format:\n- Splits user records\n- Formats user profiles\n- Combines messages\n- Prepares response payload",
          "height": 220,
          "width": 490,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1140,
          -80
        ],
        "id": "47e7a7cf-ce44-482e-a0d1-decf02aba753",
        "name": "Section 2 - Data Processing",
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Response Format\n\nSuccess: JSON array of users with:\n- Author name and avatar\n- Latest message and category\n- Chat ID and timestamps\n\nError: Error message with status code",
          "height": 220,
          "width": 490,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          40,
          360
        ],
        "name": "Response Format",
        "id": "7d304cb1-6c8d-4c27-bbb1-99c4f0be21c9",
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Data Transformation\nTransforms user data for frontend display:\n\n1. User Profile:\n- Combines firstName + lastName → author\n- Formats avatar URL\n- Extracts chatId\n\n2. Messages:\n- Gets latest message content\n- Includes message category\n- Formats timestamps",
          "height": 280,
          "width": 400,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -460,
          -160
        ],
        "name": "Data Transformation Details",
        "id": "ae38edc0-fea1-4de8-beca-b9756d700304",
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Response Handling\n\nSuccess Response:\n- JSON array of formatted user data\n- Includes messages and profile info\n\nError Response:\n- Returns error message\n- Handles unauthorized access\n- Manages failed requests",
          "height": 220,
          "width": 400,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          40,
          60
        ],
        "name": "Response Documentation",
        "id": "944b20ab-b4dc-4991-bcdf-1193b8282513",
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "34ea30e5-5515-4423-8913-dba9491cadc0",
                "name": "author",
                "value": "={{ $json.firstName }} {{ $json.lastName }}",
                "type": "string"
              },
              {
                "id": "1deb7874-79ef-46c4-bc62-07f9f3036fa1",
                "name": "content",
                "value": "={{ $json.expand.messages?.last().message}}",
                "type": "string"
              },
              {
                "id": "e97048f2-3a84-4e16-9925-f2e2f07c39b2",
                "name": "category",
                "value": "={{ $json.expand.messages[0].category }}",
                "type": "string"
              },
              {
                "id": "140e2a80-617b-46d8-bbd9-0009d3934391",
                "name": "lastUpdated",
                "value": "={{ $json.updated }}",
                "type": "string"
              },
              {
                "id": "4b4cba2d-6853-4492-8f42-2e0c73d5ea25",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "cb994bac-de9d-42d2-b788-94118fd85a1c",
                "name": "avatar",
                "value": "={{ $json.avatar }}",
                "type": "string"
              },
              {
                "id": "7954ead4-c736-42f3-bee4-a3d52f282111",
                "name": "chatId",
                "value": "={{ $json.expand.messages[0].chatId }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -400,
          220
        ],
        "id": "ccb9d907-5a88-4fc5-8219-0fe214b026d5",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "744b4ac7-6edb-45a4-ada4-59914a75158e",
                "leftValue": "={{ $json.items }}",
                "rightValue": "",
                "operator": {
                  "type": "array",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -940,
          260
        ],
        "id": "b9895f70-6ad9-4f6f-b363-65f0383a7447",
        "name": "If"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "No messages in inbox",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -240,
          500
        ],
        "id": "6353f376-621d-4ef0-9b8e-0021bece47cb",
        "name": "Respond with 'no messages'"
      }
    ],
    "connections": {
      "Split Out": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Respond success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "get users",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get users": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond with error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond with 'no messages'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {
      "Webhook": [
        {
          "headers": {
            "host": "devrel.app.n8n.cloud",
            "user-agent": "node",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjb2xsZWN0aW9uSWQiOiJwYmNfMzE0MjYzNTgyMyIsImV4cCI6MTc0MDcyOTU1OSwiaWQiOiIxZWZ2M284dTJlczg4MjIiLCJyZWZyZXNoYWJsZSI6dHJ1ZSwidHlwZSI6ImF1dGgifQ.0QiQS2_prjYhmZ70zkA1gCrUfkP_mPCkcMTH72XzWtU",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "40.127.184.50",
            "cf-ew-via": "15",
            "cf-ipcountry": "IE",
            "cf-ray": "9186a2878527bdf9-DUB",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "40.127.184.50, 162.158.49.90",
            "x-forwarded-host": "devrel.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-8-86454fd949-b5x2m",
            "x-is-trusted": "yes",
            "x-real-ip": "40.127.184.50"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://devrel.app.n8n.cloud/webhook/linkout_messages",
          "executionMode": "production"
        }
      ]
    },
    "meta": {
      "instanceId": "205b3bc06c96f2dc835b4f00e1cbf9a937a74eeb3b47c99d0c30b0586dbf85aa"
    }
  }